<h1><%= @user.name %>'s Stats</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Date Played</th>
      <th scope="col">Won?</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <th scope="row"><%= game.name %></th>
      <td><% game.matches.each do |match| %>
		      <%= match.match_date %><br>
		      <% end %>
      </td>

      <td><% game.matches.each do |match| %>
           <%= win_column(match) %><br>
        <% end %>
      </td>

		




    </tr>
    <% end %>
  </tbody>
</table>









<br>
<br>
<p>Your favorite game is <%= @fav %>. 
	<!-- You played it <%= @total_matches %> times! --></https://localhost:3000p>

<h3><%= current_user_page(current_user) %></h3>
