<h1><%= @user.name %>'s Stats</h1>
 <% @user.games.uniq.each do |game| %>

 <h3 id="gamename"><%= game.name %> Matches </h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date Played</th>
      <th scope="col">Won?</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
   <% game.matches.where(user_id: @user.id).each do |match| %>
    <tr>
      
      <td><%= link_to match.match_date, game_match_path(match.game, match) %></td>
      <td><%= win_column(match) %><br></td>
      <td><%= link_to 'Delete', game_match_path(match.game, match), method: :delete, data: {confirm: "Are you sure?"}  %></td>
      <td><%= link_to 'Edit', edit_game_match_path(match.game, match) %></td>
    </tr>
    <% end %>
    </tbody>
</table>
<% end %>

<br>
<br>
<% if current_user_page(current_user) %>
  <% if current_user.matches.count >= 1  %>
    <p>Your favorite game is <%= @fav %>. 
  <% end %>
<% end %>

<h3><%= current_user_page(current_user) %></h3>
