<!-- <h1><%= @user.name %>'s Stats</h1> -->
<h1 id="username" class="userName" data-id="<%=@user.id%>"><%= @user.name %>'s Stats </h1>

  <h3 id="gameName" class="gameName" data-id="<%=game.id%>"><%= game.name %></h3>




 <ul id="user-games"></ul>


<br>
<br>


<ul id="user-games"></ul>

<script type="text/javascript" charset="utf-8">
$(function () {
  var $userGames = $('#user-games');
  var userId = parseInt($(".userName").attr("data-id"));
  var gameUrl = "/users/" + userId + ".json";
  $.get(gameUrl, function (data) {
    games = data.response.name;
    var gameUser = data.response.users.name;
    for (var i = 0; i < games.length; i++) {
        var game = game[i];
        $userGames.append('<li class="game">'+game+ gameUser +'</li>');
    };
    
  });
});
</script>


<script type="text/javascript" charset="utf-8">
// $(function () {
//   var $userGames = $('#user-games');
//   var gameId = parseInt($(".gameName").attr("data-id"));
//   var gameUrl = "/games/" + gameId + ".json";
//   $.get(gameUrl, function (data) {
//     games = data.response.name;
//     for (var i = 0; i < games.length; i++) {
//         var game = game[i];
//         $userGames.append('<li class="game">'+game+'</li>');
//     };
    
//   });
// });
</script>

























<% if current_user_page(current_user) %>
  <% if current_user.matches.count >= 1  %>
    <p>Your favorite game is <%= @fav %>. 
  <% end %>
<% end %>

<h3><%= current_user_page(current_user) %></h3>
