<h1><%= @user.name %>'s Stats</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Date Played</th>
      <th scope="col">Won?</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @user.matches.each do |match| %>
    <tr>
      <th scope="row"><%= match.game.name %></th>
      <td><%= match.match_date %></td>
      <td><%= win_column(match) %><br></td>
      <td><%= link_to 'Delete Match', game_match_path(match.game, match), method: :delete, data: {confirm: "Are you sure?"}  %><br></td>
    </tr>
    <% end %>
    </tbody>
</table>

<br>
<br>
<% if current_user_page(current_user) %>
  <% if current_user.matches.count >= 1  %>
    <p>Your favorite game is <%= @fav %>. 
  <% end %>
<% end %>

<h3><%= current_user_page(current_user) %></h3>
