<h1><%= @user.name %>'s Stats</h1>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Date Played</th>
      <th scope="col">Faction</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <th scope="row"><%= game.name %></th>
      <td><% game.matches.each do |match| %>
		        <%= match.match_date %><br>
		      <% end %>
      </td>

		<% if game.name == "Scythe" %>
    <% game.matches.each do |scythe| %><br>
              <%= scythe[:faction] %>
            <% end %>
		<td> </td>
		<% end %>




    </tr>
    <% end %>
  </tbody>
</table>









<br>
<br>
<p>Your favorite game is <%= @fav %>. 
	<!-- You played it <%= @total_matches %> times! --></https://localhost:3000p>

<h3><%= current_user_page(current_user) %></h3>
